.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
  min-height: 100vh;
}

.got-it-button {
  background-color: rgb(143, 57, 143);
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.got-it-button:hover {
  background-color: purple;
}
